html {
    --color-card-bg: rgba(255, 255, 255, 0.8);
    --color-card-border: rgba(214, 214, 214, 0.8);
    --color-card-shadow: rgba(0, 0, 0, 0.16);
    --color-table-border: #E6E6E6;
    --color-table-header: #4E525E;
}

.app-container {
    padding-top: 120px;
    padding-bottom: 120px;
    padding-left: 20%;
    padding-right: 20%;
}

.table-wrapper {

    border: 1px solid var(--color-card-border);
    border-radius: 20px;
    background-color: var(--color-card-bg);
    box-shadow: 3px 3px 5px var(--color-card-shadow);
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table th {
    height: 56px;
    padding: 0 16px;
    border-top: none;
    border-bottom: 1px solid var(--color-table-border);
    color: var(--color-table-header);
    font-size: 18px;
    font-weight: 900;
    line-height: 56px;
    text-align: center;
}

.table td {
    height: 50px;
    padding: 30px 16px -2px;
    /* border-top: none; */
    border-bottom: 1px solid var(--color-table-border);
    color: var(--color-table-header);
    font-size: 18px;
    font-weight: 700;
    line-height: 56px;
    text-align: center;
}

.center {
    margin: auto;
}

.navbar {
    transition: all 0.4s;
}

.navbar .nav-link {
    color: #000;
}

.navbar .nav-link:hover,
.navbar .nav-link:focus {
    color: #000;
    text-decoration: none;
}

.navbar .navbar-brand {
    color: #000;
}


/* Change navbar styling on scroll */
.navbar.active {
    background: #333;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
}

.navbar.active .nav-link {
    color: #CCC;
}

.navbar.active .nav-link:hover,
.navbar.active .nav-link:focus {
    color: #CCC;
    text-decoration: none;
}

.navbar.active .navbar-brand {
    color: #CCC;
}


/* Change navbar styling on small viewports */
@media (max-width: 991.98px) {
    .navbar {
        background: #fff;
    }

    .navbar .navbar-brand,
    .navbar .nav-link {
        color: #555;
    }
}



/*
*
* ==========================================
* FOR DEMO PURPOSES
* ==========================================
*
*/
.text-small {
    font-size: 0.9rem !important;
}


body {
    min-height: 110vh;
    background-color: rgb(240, 243, 255);
    background-image: linear-gradient(135deg, rgb(239, 241, 254) 0%, rgb(255, 255, 255) 100%);
}

.crude {
    font-size: 16px;
    font-weight: bold;
}

@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans:300);

body {
    font-family: 'Alegreya Sans', sans-serif;
}

/* Sticky footer position and size
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 330px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 400px;
}

/* Taller footer on small screens */
@media (max-width: 567em) {
    .footer {
        height: 400px;
    }
}

/* Sticky footer style and color
-------------------------------------------------- */
footer {
    padding-top: 30px;
    background-color: #292c2f;
    color: #bbb;
}

footer a {
    color: #999;
    text-decoration: none;
}

footer a:hover,
footer a:focus {
    color: #aaa;
    text-decoration: none;
    border-bottom: 1px dotted #999;
}

footer .form-control {
    background-color: #1f2022;
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
    border: none;
    resize: none;
    color: #d1d2d2;
    padding: 0.7em 1em;
}